src/main/app/scatter-gather-error-behavior.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

 <http:listener-config name="HTTP_Listener_Configuration"
         host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />
     <flow name="scatter-gatther-flow">
         <http:listener config-ref="HTTP_Listener_Configuration"
             path="/route" doc:name="HTTP" />
         <set-payload value="#['a']" doc:name="Set Payload" />
         <scatter-gather doc:name="Scatter-Gather">
            <set-payload value="#[/]" doc:name="Set Payload"/>
             <set-payload value="#['Bye Choice']" doc:name="Set Payload" />
             <set-payload value="#['Default']" doc:name="Set Payload" />
         </scatter-gather>
         <logger level="INFO" doc:name="Logger" message="Scatter - Gather executed successfully"/>
         
         <choice-exception-strategy doc:name="Choice Exception Strategy">
             <catch-exception-strategy
                 when="#[exception.causedBy(org.mule.routing.CompositeRoutingException)]"
                 doc:name="Catch Exception Strategy">
                <logger message="#[message.payload]" level="ERROR" doc:name="Logger"/>
                 <set-payload value="#['composite']" doc:name="Set Payload" />
             </catch-exception-strategy>
             <catch-exception-strategy doc:name="Catch Exception Strategy">
                 <set-payload value="#['all']" doc:name="Set Payload" />
             </catch-exception-strategy>
         </choice-exception-strategy>
         
     </flow>

</mule>
